$border-color: #ddd;
$border-radius: 4px;
$bg-gray: #F9F9F9;
$text-gray: #6D6D72;
$white: #ffffff;
$black: #000000;
$accent: #CB1F26;
$gray: #69696E;
$stroke: #E3E3E3;
$bg-img: #D8D8D8;
$blue: #625FFE;
$gray_2: #8D8D95;
$dragger: #E4E4E4;
$address: #838390;

$dark: #37363C;
$gray_3: #E1EAE8;
$box-shadow: #00000014;

$dark_2: #37363C80;
$icon: #EAEAF0;

$dark-gray: #27272E;